pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu121
pip install gradio
pip install librosa
pip install hyperpyyaml
pip install modelscope
pip install onnxruntime
pip install git+https://github.com/openai/whisper.git
pip install inflect
pip install tn

在"D:\Desktop\project\CosyVoice\cosyvoice\cli\frontend.py"代码中将 import ttsfrd 替换为 import WeTextProcessing。
pip install WeTextProcessing
会报pynini 安装错误
有时使用 Conda 可以简化库的安装过程，因为 Conda 会自动处理依赖关系。尝试通过以下命令安装 pynini 和 WeTextProcessing：
conda install -c conda-forge pynini